{% extends 'layout.html' %}


{% block content %}
<main class="right__msg">
    <!--오른쪽 채팅창-->
    <div class="chat">

        <header class="chat__msg__header">
            <div class="chat__msg__title">React스터디</div>

        </header>

        <section class="chat__msg__chat">

            <div class="chat__box--left">

                <div class="chat__msg--detail">
                    <div class="name_y">송신자</div>
                    <div class="talk360">
                        <div class="talk_y">반갑습니다
                        </div>
                    </div>
                    <div class="time_y">10:12</div>
                </div>

            </div>

            <div class="chat__box--right">
                <div class="chat__msg--detail--right">
                    <div class="name_me">수신자</div>
                    <div class="talk360">
                        <div class="talk_me">반갑습니다</div>
                    </div>
                    <div class="time_me">10:12</div>
                </div>
            </div>
            <div class="chat__box--left">

                <div class="chat__msg--detail">
                    <div class="name_y">송신자</div>
                    <div class="talk_y">반갑습니다</div>
                    <div class="time_y">10:12</div>
                </div>

            </div>

            <div class="chat__box--right">
                <div class="chat__msg--detail--right">
                    <div class="name_me">수신자</div>
                    <div class="talk_me">반갑습니다</div>
                    <div class="time_me">10:12</div>
                </div>
            </div>
            <div class="chat__box--left">

                <div class="chat__msg--detail">
                    <div class="name_y">송신자</div>
                    <div class="talk_y">반갑습니다</div>
                    <div class="time_y">10:12</div>
                </div>

            </div>

            <div class="chat__box--right">
                <div class="chat__msg--detail--right">
                    <div class="name_me">수신자</div>
                    <div class="talk_me">반갑습니다</div>
                    <div class="time_me">10:12</div>
                </div>
            </div>
            <div class="chat__box--right">
                <div class="chat__msg--detail--right">
                    <div class="name_me">수신자</div>
                    <div class="talk_me">반갑습니다</div>
                    <div class="time_me">10:12</div>
                </div>
            </div>





        </section>






    </div>
    <footer class="message">
        <input type="text" size="50" placeholder="Message" class="input__chat">
        <button class="button__click" type="submit">전송</button>
    </footer>
</main>

{% endblock %}