<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section class="login">
        <img src="/img/login.jpeg" alt="">
        <form class="login__form" action="/user/login" method="post">
            <i class="fa-solid fa-xmark login__close "></i>
            <h1 class="login__title">Welcome!</h1>

            <div class="login__box">
                <label for="id">
                    id
                </label>
                <input type="text" id="id" name="id">
            </div>
            <div class="login__box">
                <label for="pw">
                    password
                </label>
                <input type="password" id="pw" name="pw">
            </div>
            <div class="login__auto">
                <input type="checkbox" name="autologin">
                <span>자동로그인</span>
            </div>
            <div class="login__alert">
                <h1 class="login__alert-text"></h1>
            </div>
            <div class="login__buttons">
                <button class="login__button" type="submit">Login</button>
                <a id="login__join" href="/join">Join</a>
                <!-- <button id="login__git"><i class="fa-brands fa-github "></i>Github</button> -->
            </div>
        </form>


    </section>

</body>

</html>