<section class="board">
    <div class="board__head">
        <span class="board__group">스터디</span>
        <time class="board__deadline">~23.8.17</time>
    </div>
    <h1 class="board__title">React 스터디 모집</h1>
    <p class="board__desc">즐겁게 성장할 React 스터디원
        모집합니다.
    </p>
    <div class="board__stack">
        <h5 class="board__stack--title">스택</h5>
        <div>
            <span>react</span>
            <span>js</span>
            <span>css</span>
        </div>
    </div>
    <div class="board__footer">
        <h5 class="board__name">이치연</h5>
        <div>
            <span class="board__like">좋아요</span>
            <span class="board__view">조회수</span>
        </div>
    </div>
</section>
<section class="board">
    <div class="board__head">
        <span class="board__group">스터디</span>
        <time class="board__deadline">~23.8.17</time>
    </div>
    <h1 class="board__title">React 스터디 모집</h1>
    <p class="board__desc">즐겁게 성장할 React 스터디원
        모집합니다.
    </p>
    <div class="board__stack">
        <h5 class="board__stack--title">스택</h5>
        <div>
            <span>react</span>
            <span>js</span>
            <span>css</span>
        </div>
    </div>
    <div class="board__footer">
        <h5 class="board__name">이치연</h5>
        <div>
            <span class="board__like">좋아요</span>
            <span class="board__view">조회수</span>
        </div>
    </div>
</section>
<section class="board">
    <div class="board__head">
        <span class="board__group">스터디</span>
        <time class="board__deadline">~23.8.17</time>
    </div>
    <h1 class="board__title">React 스터디 모집</h1>
    <p class="board__desc">즐겁게 성장할 React 스터디원
        모집합니다.
    </p>
    <div class="board__stack">
        <h5 class="board__stack--title">스택</h5>
        <div>
            <span>react</span>
            <span>js</span>
            <span>css</span>
        </div>
    </div>
    <div class="board__footer">
        <h5 class="board__name">이치연</h5>
        <div>
            <span class="board__like">좋아요</span>
            <span class="board__view">조회수</span>
        </div>
    </div>
</section>
<section class="board">
    <div class="board__head">
        <span class="board__group">스터디</span>
        <time class="board__deadline">~23.8.17</time>
    </div>
    <h1 class="board__title">React 스터디 모집</h1>
    <p class="board__desc">즐겁게 성장할 React 스터디원
        모집합니다.
    </p>
    <div class="board__stack">
        <h5 class="board__stack--title">스택</h5>
        <div>
            <span>react</span>
            <span>js</span>
            <span>css</span>
        </div>
    </div>
    <div class="board__footer">
        <h5 class="board__name">이치연</h5>
        <div>
            <span class="board__like">좋아요</span>
            <span class="board__view">조회수</span>
        </div>
    </div>
</section>
<section class="board">
    <div class="board__head">
        <span class="board__group">스터디</span>
        <time class="board__deadline">~23.8.17</time>
    </div>
    <h1 class="board__title">React 스터디 모집</h1>
    <p class="board__desc">즐겁게 성장할 React 스터디원
        모집합니다.
    </p>
    <div class="board__stack">
        <h5 class="board__stack--title">스택</h5>
        <div>
            <span>react</span>
            <span>js</span>
            <span>css</span>
        </div>
    </div>
    <div class="board__footer">
        <h5 class="board__name">이치연</h5>
        <div>
            <span class="board__like">좋아요</span>
            <span class="board__view">조회수</span>
        </div>
    </div>
</section>
<section class="board">
    <div class="board__head">
        <span class="board__group">스터디</span>
        <time class="board__deadline">~23.8.17</time>
    </div>
    <h1 class="board__title">React 스터디 모집</h1>
    <p class="board__desc">즐겁게 성장할 React 스터디원
        모집합니다.
    </p>
    <div class="board__stack">
        <h5 class="board__stack--title">스택</h5>
        <div>
            <span>react</span>
            <span>js</span>
            <span>css</span>
        </div>
    </div>
    <div class="board__footer">
        <h5 class="board__name">이치연</h5>
        <div>
            <span class="board__like">좋아요</span>
            <span class="board__view">조회수</span>
        </div>
    </div>
</section>