<nav class="menu-bar show">
    <div class="menu-bar__head">
        <h1 class="menu-bar__title">{{obj.user_name}}
            <button class="menu-bar__close">
                <i class="fa-solid fa-angles-left">
                </i>
            </button>
        </h1>
        <div class="menu-bar__buttons">
            <button><a href="/chat"><i class="fa-solid fa-comments"></i></a></button>
            <button><a href="https://github.com/"><i class="fa-brands fa-github"></i></a></button>
        </div>
        <ul class="menu-bar__list">
            <li><a href="">내가 쓴 글</a></li>
            <li><a href="">찜한 게시글</a></li>
            <li><a href="">게시판</a></li>
            <li class="menu-bar__list--black"><a href="">자유</a></li>
            <li class="menu-bar__list--black"><a href="">정보</a></li>
            <li><a href="">모집</a></li>
            <li class="menu-bar__list--black"><a href="">전체보기</a></li>
            <li class="menu-bar__list--black"><a href="">나의 파티</a></li>
            <li><a href="/user/logout">logout</a></li>
            <li class="menu-bar__list--black"><a href=""><i class="fa-solid fa-gear"></i></a></li>
        </ul>
    </div>
</nav>