<ul class="notice__list">

    <!-- 상세페이지로 넘어가게 만들거임 html 수정은 차후 결정^^ -->
    <li>
        <div>
            <span>3</span>
            <a href="">
                상세페이지로 넘어가게 만들거임 html 수정은 차후 결정^^
            </a>
        </div>
        <time>7시간전</time>
    </li>

    <li>
        <div>
            <span>2</span>
            <a href="">
                제주공항타고 가면 전여친 보려나
            </a>
        </div>
        <time>7시간전</time>
    </li>
    <li>
        <div>
            <span>1</span>
            <a href="">
                다들 화이팅!
            </a>
        </div>
        <time>7시간전</time>
    </li>
</ul>