<div class="search">
    <ul class="search__list">
        <li><i class="fa-solid fa-layer-group"></i> 전체</li>
        <li><i class="fa-regular fa-folder"></i> 프로젝트</li>
        <li><i class="fa-solid fa-pen"></i> 스터디</li>
        <li><i class="fa-solid fa-users"></i> 공모전</li>
    </ul>
    <div class="search__bar">
        <button class="search__button"><i class="fa-solid fa-magnifying-glass"></i></button>
        <input type="text" class="search__input" placeholder="제목, 게시글 검색">
    </div>
</div>
