<div class="search">
    <ul class="search__list">
        <a href="/"><li><i class="fa-solid fa-layer-group">전체</i></li></a>
        <a href="/project"><li><i class="fa-solid fa-folder">프로젝트</i></li></a>
        <a href="/study"><li><i class="fa-solid fa-pen">스터디</i></li></a>
        <a href="/Competition"><li><i class="fa-solid fa-users">공모전</i></li></a>
    </ul>
    <div class="search__bar">
        <button class="search__button"><i class="fa-solid fa-magnifying-glass"></i></button>
        <form action="/search" method="post">
            <input name="content" type="text" class="search__input" placeholder="제목, 게시글 검색">
        </form>
    </div>
</div>