<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="img/intro.jpeg" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <title>connect</title>
</head>

<body>
    {% block content %}
    {% endblock %}

    <script src="js/screen/login.js"></script>
    <!-- components -->
    <script src="js/components/menu.js"></script>
    <script src="js/components/search.js"></script>
    <script src="https://kit.fontawesome.com/15235ae2d2.js" crossorigin="anonymous"></script>
</body>

</html>