<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="img/intro.jpeg" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/codemirror.min.css">
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css">

    
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style.css">
    <title>connect</title>
</head>

<body>
    {% block content %}
    {% endblock %}



    <script src="js/screen/group.js"></script>
    <script src="js/screen/login.js"></script>
    <script src="js/screen/write.js"></script>
    <!-- components -->
    <script src="js/components/menu.js"></script>
    <script src="js/components/search.js"></script>
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script src="https://kit.fontawesome.com/15235ae2d2.js" crossorigin="anonymous"></script>
</body>

</html>