.main{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    
}



.main__search{
    display: flex;
    justify-content: space-between;
    padding:  0 130px;
}

.main__search ul{
    display: flex;

}

.main__board{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 1300px;
    margin-left: 200px;
}
