

.menu-bar {
    font-size: 25px;
    font-weight: 700;
    color: var(--nav-color);
    background-color: var(--menu-bar);

    position: fixed;
    z-index: 2;
    height: 1000px;
    transition: all 0.3s ease-in;
    width: 0;
    overflow: hidden;
    transform: translateX(-160px); 
    padding: 35px;
}



.show-menu {
    
    width: 200px;
    transform: translateX(0); 
}

.menu-bar__title{
    margin-bottom: 20px;
}

.menu-bar__head{
    /* display: flex; */
    display : inline-block;
    
    
}

.menu-bar__head h1{
    width: 200px;
}
.menu-bar__close{
    border: none;
    background-color: inherit;
    font-size: 25px;
    color: #fcfcfc;
    margin-left: 30px;
    
}


.menu-bar__list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 500px;
}


.menu-bar__buttons{
    margin-bottom:20px;
    display: flex;
    align-items: center;
    
}

.menu-bar__buttons button{
    border: none;
    color: black;
    background-color: inherit;
    font-size: 28px;
    margin:10px;
    
}

.menu-bar__list a{
    color: var(--nav-color);
}

.menu-bar__list--black a{
    color:black;
    font-size: 20px;
}

.menu-bar__buttons a{
    color: black;
}