
.notice__list{
    font-size: 20px;
    
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 1100px;
    
    padding-top: 20px;
    background-color: var(--gray-color);
    height: auto;
    
    padding-bottom: 50px;

}

.notice__list li{
    margin-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
    
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.notice__list a{
    color: rgb(115, 115, 115);
}

.notice__list div span{
    margin-right: 10px;
    font-weight: 700;
}

.notice__list time{
    font-weight: 700;
}
.notice__list__title{
    border-bottom: 1px solid var(--border-color);
    width: 100%;
}

.blue{
    background-color: var(--main-color);
    color: white;
}